* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#col-left {
    overflow-y: scroll;
}

#history {
    max-height: calc(100% - 142px);
    overflow-y: scroll;
}

#write-msg {
    width: calc(100% - 33.333333%);
    position: fixed;
    bottom: 0;
}

.msg-text {
    font-size: .905em;
}

.text-500 {
    font-weight: 500;
}

.active {
    background-color: #623B3A !important;
    border-color: #623B3A !important;
}

.bg-primary {
    background-color: #623B3A !important;
}

.btn-primary {
    background-color: #724746;
    border-color: #724746;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background-color: #563333 !important;
    border-color: #563333 !important;
}

.btn-primary:active,
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(86, 51, 51, .5) !important;
}

.input:active,
.input:focus {
    box-shadow: none !important;
    outline: 0px !important;
    -webkit-appearance: none !important;
}

.list-group-item {
    cursor: pointer;
    border-color: #EAECEF;
}

.list-group-item.active h6,
.list-group-item.active small {
    color: #FFF !important;
}

.border-top,
.border-bottom,
.form-control {
    border-color: #EAECEF !important;
}

.status {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
}

.border-none {
    border: none;
}

.user-avatar {
    width: 58px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #EAECEF;
}

::-webkit-scrollbar-thumb {
    background: #CED4DA;
}

::-webkit-scrollbar-thumb:hover {
    background: #CED4DA;
}